<template name="eventItem">
  <div class="headerEventItem">
    <h2>{{name}}</h2>
  </div>
  <div class="post postBackground">
    <div class="post-content">
      <h4>{{convertToFree price}}</h4>
      <p> {{convertToDate date}}</p>
      <p><span id="likes">{{likes}} people likes this Event</span> || <span id="assistents">{{going}} people will go</span></p>
    </div>
    {{#if currentUser}}
    <button type="button" name="button" class="likes discuss btn btn-info {{likesEnable}}">
      <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
    </button>
    <button type="button" name="button" class="going discuss2 btn btn-success {{goingEnable}}">I will Go</button>
    {{/if}}
  </div>
</template>
